* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

.wraper {
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.tab-cont {
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;

}

.tab {
    cursor: pointer;
    font-size: 0.857rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.tab.current-tab {
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}

.weather-cont {
    margin-block: 4rem;
}

.grant-access-btn {
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 10px;

}

.sub-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grant-location-access-cont {
    display: none;

}

.grant-location-access-cont.active {
    display: flex;

}

.grant-location-access-cont img{
    margin-bottom: 2rem;

}
.grant-location-access-cont p:first-of-type{
    font-size:1.75rem ;
    font-weight: 600;

}

.grant-location-access-cont p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;

}

.loading-cont{
    display: none;
}

.loading-cont.active{
    display: flex;
}

.loading-cont p{
    text-transform: uppercase;
}

.user-weather-info-cont{
    display: none;
}
.user-weather-info-cont.active{
    display: flex;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;

}

.user-weather-info-cont p{
    font-size: 1.5rem;
    font-weight: 200;
}

.user-weather-info-cont img{
    width: 90px;
    height: 90px;
}
.name p{
    font-size: 2rem;

}
.name img{
    width: 30px;
    height: 30px;
}

.user-weather-info-cont p[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;

}
.parameter-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
    margin-top: 2rem;
}
.parameter{
    display: flex;
    flex-direction: column;
    background-color:rgba(219, 226, 239, 0.5) ;
    max-width: 200px;
    width: 30%;
    border-radius: 5px;
    padding: 1rem;
    gap: 5px 0;
    align-items: center;
}

.parameter img{
    width: 50px;
    height: 50px;
}
.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;

}

.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.search-form{
    display: none;
    width: 90%;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 0 10px;
    margin-bottom: 3rem;
}

.search-form.active{
    display: flex;

}
.search-form input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color:rgba(219, 226, 239, 0.5) ;
    border-radius: 10px;
}
    
.search-form input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.search-form input:focus{
    outline:3px solid rgba(255, 255, 255, 0.7);
}

.search-form .search-btn{
    color: rgba(255, 255, 255, 0.7);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    background-color: var(--colorDark2);
    border-radius: 100%;
    cursor: pointer;
}
