.cont{
    height: 20vh;
    width: 100vw;
    border: 2px solid red;
    background-color: blueviolet;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aqua;
    animation: move 4s ease 0.1s infinite alternate ;
}
@keyframes move {
    0%{
        background-color: aqua;
        width: 0%;
    }
    20%{
        background-color: coral;
        width: 20%;
    }
    40%{
        background-color: blue;
        width: 40%;
    }
}