h1{
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
    color: rgba(126, 47, 199, 0.781);

}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 512px;
    height: 512px;
    margin: 10% auto;
    background-color: aqua;
    border-radius: 10px;
}