@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;

}
#wraper {
    height: 100vh;
    width: 100vw;
    overflow-y:auto;
    overflow-x: hidden ;
}

.cont {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.nav-logo {
    display: flex;
    justify-content: baseline;
    align-items: center;

}

.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}

#logo {
    width: 80px;
}


.nav-item {
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}
.nav-item div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-item div a{
    text-decoration: none;
    color: black;
}
.nav-item div:hover{ 
    font-weight:bold;
    transition:0.8s;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem 8rem ;
}
.faded-text{
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231,231, 231);
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}
.intro-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}