@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;

}

:root {
    --bg0range: #e84949;
}

#wraper {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.cont {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.nav-logo {
    display: flex;
    justify-content: baseline;
    align-items: center;

}

.logo-text {
    margin-left: -1.2rem;
    font-size: 28px;
}

#logo {
    width: 80px;
}


.nav-item {
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}

.nav-item div {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-item div a {
    text-decoration: none;
    color: black;
}

.nav-item div:hover {
    font-weight: bold;
    transition:0.8s;
}

.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem 8rem;
}

.faded-text {
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    bottom: -16.5%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.intro-heading {
    font-size: 35px;
    font-weight: 500;
    color: #343d68;
}

.role {
    font-weight: 800;
    color: #4e45d5;
}

.intro-subheading {
    font-size: 45px;
    line-height: 45px;
}

.intro-discription {
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink {
    background-color: var(--bg0range);
    width: fit-content;
    padding: 0.8rem 2.3rem;
    color: white;
    font-weight: 500;
    box-shadow: 5px 5px 7px 0 #0000003f;
    font-size: 18px;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    border: 3px solid transparent;
    cursor: pointer;

}


.btn-pink::before {
    content: ' ';
    background-color: #ffff;
    z-index: -1;

    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;

}

.btn-pink:hover::before {
    transform: scaleX(1);
}

.btn-pink:hover {
    border: solid 3px var(--bg0range);
    color: black;
}

.img-section {
    position: relative;
}

.absolute {
    position: absolute;
}

.user-img {
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImg 5s linear infinite;
    box-shadow: 3px 3px 10px black;
}

.user-img img {
    z-index: -10;

}

@keyframes scaleImg {

    0% {
        filter: grayscale(0);
        transform: scale(1);

    }

    50% {
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: none;
    }

    100% {
        transform: scale(1);
        filter: grayscale(0);

    }
}


.icons-dot {
    z-index: 1;
    right: 0;
    bottom: -1rem;
    animation: dotMove 5s linear infinite;
}

@keyframes dotMove {

    0% {
        transform: translateY(0);
    }

    50% {

        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);

    }

}

.icons-cube {
    right: 1em;
    z-index: 1;
    top: -0.8 em;
    animation: cubeRotate 3s linear infinite;
}

@keyframes cubeRotate {

    50% {
        transform: translateY(-20px) rotateY(180deg)
    }


}


.icons-circle {
    z-index: 1;
    left: 0;
    bottom: 0;
    animation: shakeEff 6s linear infinite;
}

@keyframes shakeEff {

    50% {
        left: 5%;
        bottom: 10px;
    }

}

.icons-zigzags {
    z-index: 1;
    top: 1.5em;
    left: -0.3em;
    animation: zigAni 5s ease-in infinite;
}

@keyframes zigAni {

    50% {
        left: 5%;
        top: 2%;
    }

}

.icons-plus {
    top: -0.8rem;
    z-index: 1;
    left: 50%;
    animation: sheakeffPlus 5s ease-in infinite;
}
@keyframes sheakeffPlus {
    50%{
        top: 3%;
        left: 48%;
    }
}


.project-section{
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;

}
.page-header{
    color: var(--bg0range);
    font-size: 90px;
    text-align: center;
    padding-top:30px ;
}
.projects-container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 120px;
    padding: 3rem 0;
}
.project-card{
    width: 90%;
    height: 550px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    /* filter: brightness(50%); */
    z-index: 0;
    
}

.project-card::after{
    content: "";
    position: absolute ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#1f1f1f9a;
}


.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transition: all 0.4s linear;
    background:linear-gradient(45deg ,#343d68,#343d68be, #343d687c);
    transform-origin: left;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);
}

.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: rgb(255,255,255);
    z-index: 2;
    opacity: 0;
     

}

.project-number-left{
    right: -40px;
    top: -45px;
}

.project-number-right{
    left: -40px;
    top: -45px;

}

.project-content{
    width: 80%;
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
    padding: 2rem;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;

}
.project-content-right{
    right: -10%;
}
.project-content-left{
    right: 10%;
}

.project-skill{
    width: 40px;
}
.project-skills{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subheading{
    font-size: 16px;
    width: 60%;
    font-style: italic;
}

.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;

}
.btn-project{
    border: none;
}
.btn-project:hover{

    border: none;

}

.icon{

    cursor: pointer;
    color: white;
    font-size: 35px;
}
.icon:hover{
    color: var(--bg0range);
    transition: 0.4s;
}
.project-card:hover .project-number{
    opacity: 1;
}

.project-card:hover .project-content{
    transform: scale(1.1);
}
#project1{
    background-image: url(assets/images/projects/Project1.png)  ;
    
}
#project2{
    background-image: url(assets/images/projects/Project2.png);
    margin-left: 120px;
}
#project3{
    background-image: url(assets/images/projects/Project3.png);
}
#project4{
    background-image: url(assets/images/projects/Project4.png);
    margin-left: 120px;
}