*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(169, 169, 169);
}
.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "head head head"
                        "main main side"
                        "foot foot foot";
}
.head{
    grid-area: head;
    display: flex;
    justify-content: space-around;
}
.content{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.side{
    grid-area: side;
}
.foot{
    grid-area: foot;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head img{
    height: 20px;
}