.wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 1em 3em;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    position: relative;
    z-index: 0;
    border-radius: 4px;
    cursor: pointer;

}


.btn::after {
    content: ' ';
    background-color: blueviolet;
    z-index: -1;
    height: 100%;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease-out;
    border-radius: 4px;
    

}
.btn:hover::after{
    width: 100%;
}
.btn:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black;
    transform: scale(1.03);
}